<div class="container">

<pre>
{{currentProject | json}}
</pre>

	<h5>{{currentOrg.name}} | {{currentProject.name}}</h5>

	<uib-tabset active="active">
		<uib-tab index="0" heading="Overview">
			<p>Project details go here</p>
		</uib-tab>
		<uib-tab index="1" heading="Experiments">
			<p>Project details go here</p>
		</uib-tab>
		<uib-tab index="2" heading="Ideas">
			<p>Project details go here</p>
		</uib-tab>
		<uib-tab index="3" heading="Settings">
			<p>Project settings go here</p>
		</uib-tab>
	</uib-tabset>

</div>