<div class="container">

	<h1>{{currentOrg.name}}</h1>

	<uib-tabset active="active">
		<uib-tab index="0" heading="Projects">
			<div ng-include="'views/org/projects/projects.html'"></div>
		</uib-tab>
		<uib-tab index="1" heading="Settings">
			<div ng-include="'views/org/settings/settings.html'"></div>
		</uib-tab>
	</uib-tabset>

	<!--<ul class="nav nav-tabs">-->
		<!--<li><a data-toggle="tab" ng-href="org/{{currentOrg.id}}#projects">Projects</a></li>-->
		<!--<li><a data-toggle="tab" ng-href="org/{{currentOrg.id}}#settings">Settings</a></li>-->
	<!--</ul>-->

	<!--<div class="tab-content">-->
		<!--<div id="projects" class="tab-pane fade in active">-->
			<!--<div ng-include="'views/org/projects/projects.html'"></div>-->
		<!--</div>-->
		<!--<div id="settings" class="tab-pane fade">-->
			<!--<div ng-include="'views/org/settings/settings.html'"></div>-->
		<!--</div>-->
	<!--</div>-->

</div>
